input, label {
    margin: 5px;
  }
  
  .form-group {
    margin: 30px auto;
    width: 400px;
  }
  
  .form-control {
    float: left;
  }
  
  #inputname {
    width: 97%;
  }
  
  #inputStreet {
    width: 97%;
  }
  
  #inputCity {
    width: 56%;
  }
  
  #inputState {
    width: 18%;
  }
  
  #inputZip {
    width: 18%;
  }
  
  